.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  white-space: nowrap;
  transition: visibility 0s, opacity 0.6s linear;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
}
.open {
  width: 250px;
}
.closed {
  width: 50px;
}
.closed a span {
  display: none;
}
.closed .closebtn {
  opacity: 1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.main.open {
  margin-left: 250px;
}
.main.closed {
  margin-left: 50px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  .sidebar.open {
    width: 100%;
  }
  .sidebar.closed {
    width: 100%;
  }
  .main {
    margin-left: 0;
  }
  .sidebar .closebtn {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
