div.freshSimplecard {
  display: flex;
  border-radius: 16px;
  padding: 10px;
  flex-direction: column;
  flex: 0 0 320px;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
.animateUp:hover {
  -webkit-transform: translate(0, -3px);
  transform: translate(0, -3px);
}
div.hoverShadow:hover {
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: 0 0 5px #0f0000;
}
div.freshPrimaryText {
  padding: inherit;
  font-size: -webkit-xxx-large;
  cursor: default;
}
div.freshSecondaryText {
  cursor: default;
  padding: inherit;
  padding-top: 5px;
}
.freshButton {
	display: inline-block;
    border-radius: 4px;
    background-color: #ffff;
    border: none;
    color: #f4511e;
    text-align: center;
    font-size: 20px;
    padding: inherit;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: inherit;
  }
  
  .freshButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .freshButton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .freshButton:hover span {
	padding-right: 25px;
  }
  
  .freshButton:hover span:after {
	opacity: 1;
	right: 0;
  }