div.freshSimplecard {
  display: flex;
  border-radius: 16px;
  padding: 10px;
  flex-direction: column;
  flex: 0 0 320px;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
.animateUp:hover {
  -webkit-transform: translate(0, -1px);
  transform: translate(0, -1px);
}
div.hoverShadow:hover {
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: 0 0 5px #0f0000;
}
div.freshPrimaryText {
  padding: inherit;
  font-size: x-large;
  cursor: default;
}
div.freshSecondaryText {
  cursor: default;
  padding: inherit;
  padding-top: 5px;
}
.freshButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffff;
  border: none;
  color: #4050d8;
  text-align: center;
  font-size: 15px;
  padding: 14px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: inherit;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.freshButton:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.freshButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.freshButton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.freshButton:hover span {
  padding-right: 25px;
}

.freshButton:hover span:after {
  opacity: 1;
  right: 0;
}
